body#md {
  max-width: 1024px;
}

.md dt {
  width: 110px;
  font-family: arial;
}

.md dd {
  padding-bottom: 1px;
}

.md h1:before, .md h2:before {
  content: none;
}

.md ul li.plus {
  list-style-type: none;
  margin-left: -40px;
  padding-bottom: 10px;
}

.md table.table {
  margin-left: -15px;
  padding-bottom: 20px;
}

.md table.table tr {
  vertical-align: top;
}

.md table.table th {
  color: #000;
  background: none;
  border: none;
  padding-bottom: 2px;
}

.md table.table tr:nth-child(even) {
  background: none;
}

.md table.table td {
  background: none;
  border: none;
  padding-bottom: 0px;
  padding-top: 2px;
}

.md table {
  page-break-inside: auto;
}

.md .subtitle .iclabel img {
  vertical-align: middle;
  width: 1.2em;
}

.md .iclabel img {
  vertical-align: middle;
  width: 1em;
}

.md .iclabel a {
  vertical-align: middle;
}

.md .icaward {
  color: red;
  font-weight: bold;
}

.md .icaward::before {
  content: "\1F3C6\20[";
}

.md .icaward::after {
  content: "]\20";
}

.md .icstar {
  color: red;
  font-weight: bold;
}

.md .icstar::before {
  content: "\1F31F\20[";
}

.md .icstar::after {
  content: "]\20";
}

.md .icbug {
  color: red;
  font-weight: bold;
}

.md .icbug::before {
  content: "\1F41E\20[";
}

.md .icbug::after {
  content: "]\20";
}

.md .emphnote {
  color: red;
}

.md .emphnote::before {
  content: "NOTE: ";
  font-style: italic;
}

#forfun {
  background: #333;
}

#forfun svg.diagram {
  background: #333;
  stroke: #FFF;
  fill: #FFF;
}

#forfun svg.diagram .opendot {
  fill: #333;
}

#updtime {
  background-color: #EFEFEF;
  text-align: center
}

em.asterisk {
  font-style: normal;
  font-weight: bold;
}